/* -------------- Fonts -------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&subset=cyrillic');

@font-face {
  font-family: 'Gora Free';
  src: url('fonts/gora-free-webfont.woff2') format('woff2'),
       url('fonts/gora-free-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ----------- Color palette -------------- */

:root {
  --dark-grey: #131415;
}

/* ----------- General Styles ------------- */

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

.container {
  width: 1065px;
  margin: 0 auto;
}

.logo {
  font-family: "Gora Free", serif;
}

/* ----------- Header styles --------------- */

.header {
  background-color: var(--dark-grey);
  color: white;
}

.header__container {
  height: 70px;
  position: relative;
}

.header__logo {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 5px;
}

.menu {
  display: inline-block;
  position: absolute;
  left: 40%;
  top: 10px;
}

.menu__item {
  display: inline-block;
}

.contacts {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 13px;
}

.contacts__phone {
  display: block;
}

/* --------------- Main content styles --------------- */

/* General styles */

.section__title {
  text-align: center;
}

/* Banner section */


/* Features section */

.features {
  background-color: var(--dark-grey);
  color: white;
}

.features__list {
  width: 80%;
  margin: 0 auto;
}

.features__item {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

/* News section */
.news {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.latest-news-list {
  display: inline-block;
  width: 80%;
  vertical-align: top;
}

.top-news {
  display: inline-block;
  width: 15%;
  vertical-align: top;
}

.pagination {
  margin: 0 auto;
  width: 20%;
}

.pagination__display,
.pagination__controlls,
.pagination_prev,
.pagination__list,
.pagination__item,
.pagination__next {
  display: inline-block;
  vertical-align: middle;
} 

/* --------------- Footer styles --------------- */

.footer {
  background-color: var(--dark-grey);
  color: white;
}

.footer__container {
  position: relative;
  height: 70px;
}

.rights {
  position: absolute;
  left: 5px;
  width: 30%;
  top: -10px;
}

.footer__logo {
  position: absolute;
  left: 40%;
  top: 20%;
}

.social {
  position: absolute;
  right: 5px;
}