/* ----------- Color palette -------------- */
:root {
  --dark-grey: #131415;
}

/* ----------- General Styles ------------- */

html, body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* ----------- Header styles --------------- */

.header {
  background-color: var(--dark-grey);
  color: white;
}

.header__container {
  height: 70px;
  position: relative;
}

.header__logo {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 5px;
}

.menu {
  display: inline-block;
  position: absolute;
  left: 40%;
  top: 10px;
}

.menu__item {
  display: inline-block;
}

.contacts {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 13px;
}

.contacts__phone {
  display: block;
}

/* --------------- Main content styles --------------- */

/* General styles */

.section__title {
  text-align: center;
}

/* Banner section */


/* Features section */

.features {
  background-color: var(--dark-grey);
  color: white;
}

.features__list {
  width: 80%;
  margin: 0 auto;
}

.features__item {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

/* News section */

.latest-news-list {
  display: inline-block;
  width: 80%;
  vertical-align: top;
}

.top-news {
  display: inline-block;
  width: 15%;
  vertical-align: top;
}

.pagination {
  margin: 0 auto;
  width: 20%;
}

.pagination__display,
.pagination__controlls,
.pagination_prev,
.pagination__list,
.pagination__item,
.pagination__next {
  display: inline-block;
  vertical-align: middle;
} 

/* --------------- Footer styles --------------- */

.footer {
  background-color: var(--dark-grey);
  color: white;
}

.footer__container {
  position: relative;
  height: 70px;
}

.rights {
  position: absolute;
  left: 5px;
  width: 30%;
  top: -10px;
}

.footer__logo {
  position: absolute;
  left: 40%;
  top: 20%;
}

.social {
  position: absolute;
  right: 5px;
}