/* -------------- Fonts -------------- */
/* #region */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&subset=cyrillic');

@font-face {
  font-family: 'Gora Free';
  src: url('fonts/gora-free-webfont.woff2') format('woff2'),
       url('fonts/gora-free-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* #endregion */


/* ----------- Color palette -------------- */
/* #region */

:root {
  --dark-grey: #131415;
  --white: #ffffff;
  --orange: #f89513;
}

/* #endregion */



/* ----------- General Styles ------------- */
/* #region */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  overflow: hidden;
  min-width: 1100px;
}

ul li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

.logo {
  font-family: "Gora Free", serif;
  font-size: 18px;
  color: var(--orange);
  letter-spacing: 1.8px;
}

/* #endregion */



/* ----------- Header styles --------------- */
/* #region */

.header {
  background-color: var(--dark-grey);
  color: var(--white);
}

.header__container {
  min-height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
/* #region */

/* #endregion */


/* Menu */
/* #region */
.menu {
  text-align: center;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.menu__item-link {
  color: inherit;
  text-decoration: inherit;
  margin-left: 25px;
}

.menu__item-link--active {
  color: #f89513;
}

.menu__item-link--main.menu__item-link--active:before {
  background-image: url('data/icons/main-page-icon_hover.png');
}

.menu__item-link--reviews.menu__item-link--active:before {
  background-image: url('data/icons/reviews-page-icon_hover.png');
}

.menu__item-link--services.menu__item-link--active:before {
  background-image: url('data/icons/service-page-icon_hover.png');
}

.menu__item-link:not(.menu__item-link--active):hover {
  color: #f89513;
}

.menu__item-link:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: center center no-repeat;
  margin-right: 18px;
}

.menu__item-link--main:before {
  background-image: url('data/icons/main-page-icon.png');
}

.menu__item-link--reviews:before {
  background-image: url('data/icons/reviews-page-icon.png');
}

.menu__item-link--services:before {
  background-image: url('data/icons/service-page-icon.png');
}

.menu__item-link--main:not(.menu__item-link--active):hover:before {
  background-image: url('data/icons/main-page-icon_hover.png');
}

.menu__item-link--reviews:not(.menu__item-link--active):hover:before {
  background-image: url('data/icons/reviews-page-icon_hover.png');
}

.menu__item-link--services:not(.menu__item-link--active):hover:before {
  background-image: url('data/icons/service-page-icon_hover.png');
}
/* #endregion */


/* Contacts */
/* #region */
.contacts {
  text-align: right;
}

.contacts__phone {
  display: block;
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
  font-size: 21px;
  font-style: normal;
}

.contacts__schedule {
  background: none;
  border: none;
  font-size: 14px;
  color: rgba(248, 149, 19, 0.8);
  font-weight: bold;
  text-decoration: underline;
  font-family: inherit;
}

.contacts__schedule:hover {
  color: #ffffff;
}
/* #endregion */



/* #endregion */


/* --------------- Main content styles --------------- */

/* General styles */
/* #region */

.section__title {
  text-align: center;
  font-size: 49px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 47px;
  margin-bottom: 48px;
}

/* #endregion */


/* Banner section */
/* #region */
.banner {
  text-align: center;
  padding-top: 79px;
  padding-bottom: 58px;
}

/* #endregion */


/* Features section */
/* #region */
.features {
  background-color: var(--dark-grey);
  color: var(--white);
  overflow: auto;
}

.features__list {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.features__item {
  line-height: 1.88em;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  max-width: 33%;
  vertical-align: top;
}

.features__icon {
  width: 68px;
  height: 68px;
  background: #f89513 center center no-repeat;
  border-radius: 50%;
  margin-left: 38%;
}

.features__icon--uniqueness {
  background-image: url('data/icons/flower.png');
}

.features__icon--premium-class {
  background-image: url('data/icons/star.png');
}

.features__icon--coach {
  background-image: url('data/icons/painter-palette.png');
}

.features__title {
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  margin-top: 29px;
}

.features__desc {
  margin-top: 10px;
}

.features__desc-item {
  list-style-type: disc;
  text-align: left;
  margin-left: 20%;
  padding-left: 12px;
}

/* #endregion */


/* News section */


/* Latest news */
/* #region */

.latest-news {
  margin-top: 67px;
}

.latest-news-list {
  display: inline-block;
  width: 80%;
  vertical-align: top;
}

.latest-news-item:not(:last-child) {
  border-bottom: 2px solid #f5f5f5;
}

.latest-news-item:not(:first-child) {
  margin-top: 20px;
}

.latest-news-item {
  padding-bottom: 23px;
}

.latest-news-item__img {
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 160px;
}

.latest-news-item__content {
  display: inline-block;
  width: 78%;
  margin-left: 20px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.latest-news-item__time {
  font-size: 14px;
  color: #656464;
  font-style: 300;
}

.latest-news-item__title {
  font-size: 18px;
  color: #221f1f;
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 10px;
  line-height: 21px;
}

.latest-news-item__text {
  font-size: 18px;
  color: #221f1f;
  font-style: normal;
  line-height: 30px;
  margin-top: 2px;
}
/* #endregion */


/* Aside top news */
/* #region */
.top-news {
  display: inline-block;
  width: 15%;
  vertical-align: top;
  margin-left: 48px;
}

.top-news__title {
  text-transform: uppercase;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #221f1f;
  line-height: 21px;
  letter-spacing: 2.4px;
}

.top-news__time {
  display: block;
  color: #656464;
}

.top-news__img {
  width: 160px;
  opacity: .8;
  margin-top: 20px;
}

/* #endregion */


/* Pagination */
/* #region */
.pagination {
  text-align: center;
  margin-top: 43px;
}

.pagination__display,
.pagination__controlls,
.pagination__link {
  display: inline-block;
  vertical-align: top;
} 

.pagination__display {
  font-size: 14px;
  font-weight: 300;
  color: #656464;
}

.pagination__item {
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #221f1f;
  width: 25px;
  height: 25px;
  text-align: center;
}

.pagination__item:hover {
  color: #f89513;
}

.pagination__item--active {
  background: #27273e;
  border-radius: 3px;
  color: #ffffff;
}

.pagination__item:first-child {
  margin-left: 15px;
}

.pagination__item:last-child {
  margin-right: 15px;
}

.pagination__controlls {
  min-width: 300px;
  margin-left: -6px;
}

.pagination__prev {
  float: left;
  width: 6px;
  height: 10px;
  background: url('data/icons/prev-arrow.png') center center no-repeat;
  margin-top: 3px;
  margin-left: 20px;
}

.pagination__next {
  float: left;
  width: 6px;
  height: 10px;
  background: url('data/icons/next-arrow.png') center center no-repeat;
  margin-top: 3px;
}

.pagination__next:after {
  clear: both;
}
/* #endregion */


/* --------------- Footer styles --------------- */
/* #region */
.footer {
  background-color: var(--dark-grey);
  color: var(--white);
  margin-top: 71px;
  margin-top: 63px;
}

.footer__container {
  min-height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Rights */
/* #region */
.rights {
  max-width: 250px;
}

.rights__content {
  font-weight: 300;
  font-size: 14px;
}

.rights__link {
  font-weight: bold;
}

.rights__link--underline {
  text-decoration: underline;
}
/* #endregion */

/* Logo */
/* #region */
/* #endregion */


/* Socials */
/* #region */

.socials__title {
  font-size: 14px;
  font-weight: bold;
}

.socials-list {
  margin-top: 8px;
}

.socials-item {
  float: left;
}

.socials-item:not(:first-child) {
  margin-left: 10px;
}

.socials-item__icon {
  width: 20px;
  height: 20px;
  background: #d0d0d0 center center no-repeat;
  border-radius: 50%;
}

.socials-item__icon:hover {
  background-color: #f89513;
}

.socials-item__icon--vk {
  background-image: url(data/icons/vk.png);
}

.socials-item__icon--fb {
  background-image: url(data/icons/fb.png);
}

.socials-item__icon--google {
  background-image: url(data/icons/google.png);
}

.socials-item__icon--twitter {
  background-image: url(data/icons/twitter.png);
}

.socials-item__icon--mail {
  background-image: url(data/icons/mail.png);
}

.socials-item:last-child::after {
  clear: both;
}

/* #endregion */



/* #endregion */