@font-face {
  font-family: 'Gora Free';
  src: url('../../fonts/gora-free-webfont.woff2') format('woff2'),
       url('../../fonts/gora-free-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}