.breadcrumbs {
  margin-left: 93px;
  margin-top: 42px;
}

.breadcrumbs__list {
  display: flex;
  width: 90%;
}

.breadcrumbs__link {
  color: #f89513cc;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  text-decoration: underline;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: #000;
  text-decoration: none;
}

.breadcrumbs__item--active:after {
  display: none;
}

.breadcrumbs__item:after {
  content: "/";
}