.features {
  background-color: var(--dark-grey);
  color: var(--white);
  overflow: auto;
}

.features__list {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.features__item {
  line-height: 1.88em;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  max-width: 33%;
  vertical-align: top;
}

.features__icon {
  width: 68px;
  height: 68px;
  background: #f89513 center center no-repeat;
  border-radius: 50%;
  margin-left: 38%;
}

.features__icon--uniqueness {
  background-image: url('../../data/icons/flower.png');
}

.features__icon--premium-class {
  background-image: url('../../data/icons/star.png');
}

.features__icon--coach {
  background-image: url('../../data/icons/painter-palette.png');
}

.features__title {
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  margin-top: 29px;
}

.features__desc {
  margin-top: 10px;
}

.features__desc-item {
  list-style-type: disc;
  text-align: left;
  margin-left: 20%;
  padding-left: 12px;
}