.footer {
  background-color: var(--dark-grey);
  color: var(--white);
  margin-top: 63px;
}

.footer__container {
  min-height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
