.partners {
  border: 1px solid gray;
  padding-top: 27px;
  margin-bottom: 30px;
  width: 90%;
  align-self: center;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 38px;
}

.partners__item {
  flex: 1 0 200px;
  margin-bottom: 50px;
}

.partners__link {
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.partners__link:hover {
  filter: none;
}