.promo {
  background-image: url('../../data/img/promo-bg.png');
  margin-top: 28px;
  margin-bottom: 30px;
}

.promo__text {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  line-height: 1.67;
  padding: 30px 25px;
}

.promo__text--emphasize {
  font-weight: bold;
  color: #f89513;
}