.promo {
  background-image: url('../../data/img/promo-bg.png');
  margin-top: 50px;
}

.promo__text {
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  padding: 24px 190px;
  line-height: 1.67;
}

.promo__text--emphasize {
  font-weight: bold;
  color: #f89513;
}