.reviews {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  margin-left: 18px;
  margin-top: 10px;
}

.reviews__list {
  margin-top: 10px;
}

.reviews-item:not(:last-child) {
  border-bottom: 2px solid #f5f5f5;
}

.reviews-item:not(:first-child) {
  margin-top: 20px;
}

.reviews-item {
  padding-bottom: 23px;
  display: flex;
}

.reviews-item__img {
  border-radius: 50%;
  width: 174px;
  height: 174px;
  flex: 1 0 174px;
}

.reviews-item__img--default {
  flex: 1 0 174px;
  background: url('../../data/img/reviews/default-avatar.png') center center no-repeat;
  background-color: #f5f5f5;
}

.reviews-item__content {
  margin-left: 20px;
}

.reviews-item__time {
  font-size: 14px;
  color: #656464;
  font-style: 300;
}

.reviews-item__title {
  font-size: 18px;
  color: #221f1f;
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 10px;
  line-height: 21px;
}

.reviews-item__text {
  font-size: 18px;
  color: #221f1f;
  font-weight: 300;
  line-height: 30px;
  margin-top: 2px;
}