.section-title {
  text-align: center;
  font-size: 49px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 53px;
  margin-bottom: 48px;
}

.section-title--left-align {
  text-align: left;
}