.services {
  margin-left: 90px;
  width: 83%;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  flex: 1 0 250px;
}

.services__img-wrapper {
  position: relative;
  width: 250px;
  height: 153px;
}

.services__img {
  width: inherit;
  height: inherit;
  background: center center no-repeat;
  filter: brightness(20%);
  border-radius: 3px;
}

.services__img--fitness {
  background-image: url('../../data/img/services/fitness.jpg');
}

.services__img--nutritionist {
  background-image: url('../../data/img/services/nutritionist.jpg');
}

.services__img--yoga {
  background-image: url('../../data/img/services/yoga.jpg');
}

.services__img--trx {
  background-image: url('../../data/img/services/trx.jpg');
}

.services__img--crossfit {
  background-image: url('../../data/img/services/crossfit.jpg');
}

.services__img--pool {
  background-image: url('../../data/img/services/pool.jpg');
}

.services__img-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 70%;
}

.services__img-wrapper:hover .services__img-heading {
  display: none;
}

.services__img-wrapper:hover .services__img {
  filter: none;
}

.services__content {
  color: #221f1f;
  width: 250px;
}

.services__title {
  font-size: 18px;
  font-weight: bold;
}

.services__desc {
  font-size: 14px;
  font-weight: 300;
}