.socials {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials__title {
  font-size: 14px;
  font-weight: bold;
}

.socials-list {
  margin-top: 8px;
  display: flex;
}

.socials-item:not(:first-child) {
  margin-left: 10px;
}

.socials-item__icon {
  width: 20px;
  height: 20px;
  background: url('../../data/icons/spritesheet.png') no-repeat;
  border-radius: 50%;
  transition: .3s;
}

.socials-item__icon:hover {
  background-color: #f89513;
}

.socials-item__icon--vk {
  background-position: -293px 1px;
}

.socials-item__icon--fb {
  background-position: 2px -2px;
}

.socials-item__icon--google {
  background-position: -18px 0px;
}

.socials-item__icon--twitter {
  background-position: -271px 0px;
}

.socials-item__icon--mail {
  background-position: -42px 0px;
}